---
layout: default
---
<header>
  <div class="landing-header">
    <div class="landing-header-title">
      <h1>{{ site.title }}</h1>
      {%-if site.theme_config.show_description-%}
        <p>{{ site.description }}</p>
      {%-endif-%}
    </div>
    <div class="landing-header-links">
      {%-if site.author_github-%}
        <a href="https://github.com/{{site.author_github}}" target="_blank"><img class="social-icon" alt="GitHub logo" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/github.svg"></a> <!-- GitHub mark from https://github.com/primer/octicons/blob/main/icons/mark-github-16.svg -->
        <a href="https://orcid.org/{{site.author_orcid}}" target="_blank"><img class="social-icon" alt="ORCID logo" src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/orcid.svg" /></a> <!-- ORCID logo from https://github.com/simple-icons/simple-icons -->
        <a href="https://researchgate.org/profile/{{site.author_researchgate}}" target="_blank"><img class="social-icon" alt="ResearchGate logo" src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/researchgate.svg" /></a> <!-- ResearchGate logo from https://github.com/simple-icons/simple-icons -->
      {%-endif-%}
    </div>
  </div>
</header>

{%-if site.theme_config.show_index_content_in_top-%}
  {{ content }}
{%-endif-%}

{%-include menu_item.html collection=site.data.menu.entries-%}

{%-unless site.theme_config.show_index_content_in_top-%}
  {{ content }}
{%-endunless-%}
